@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


:root{
    --black: #17252a;
    --white:#feffff;
    font-family: "Lato", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0px 0px;
    scale: 1.2;
    background-color: #3aafa9;
    text-transform: uppercase;
    
}

.azmmm{
    color:#feffff;
    border-bottom: 5px solid #2b7a78;
    border-right: 5px solid #2b7a78;
    border-left: 5px solid #def2f1;
    border-top: 5px solid #def2f1;
    padding: 10px 10px;

}
.multiplication{
    color: beige;
    text-align: center;
    margin: 10px;
    padding: 20px 20px;
    border-bottom: 5px solid #2b7a78;
    border-right: 5px solid #2b7a78;
    border-left: 5px solid #def2f1;
    border-top: 5px solid #def2f1;
}

#multiplication{
    margin: 30px 30px;
    font-size: 50px;
    color: var(--white);
}
#timer{
    font-size: 30px;
    color: var(--white);
}
#button{
    background-color: #3aafa9;
    border-bottom: 2.5px solid #2b7a78;
    border-right: 2.5px solid #2b7a78;
    border-left: 2.5px solid #def2f1;
    border-top: 2.5px solid #def2f1;
    padding:5px 5px;
}
#button:hover, #button:active{
    color: var(--black);
    background-color:#2b7a78;

}
.ans, #h6{
    color: var(--black);
}

